<!DOCTYPE html>
<html>

<head>
    <title>Контакты</title>
    <meta charset="utf-8" />
</head>

<body>
    <h1>Контакты</h1>
    <p>Электронный адрес: admin@mycorp.com</p>

    <form method="post" action="signFom" role="form">
        <label>Имя</label><br>
        <input type="text" name="name" /><br><br>
        <label>Фамилия</label><br>
        <input type="number" name="surname" /><br><br>

        <label>Email</label><br>
        <input type="text" name="email" /><br><br>
        <label>Password</label><br>
        <input type="text" name="password" /><br><br>
        <label>Age</label><br>
        <input type="text" name="age" /><br><br>
        <label>City</label><br>
        <input type="text" name="city" /><br><br>

        <input type="submit" value="Отправить" />
    </form>
</body>
<html>