<!DOCTYPE html>
<html>

<head>
    <title>Контакты</title>
    <meta charset="utf-8" />
</head>

<body>


    <div>
        {{#each users}}
            <div>{{this.name}}</div>
            
            <div>{{@index}} </div>
            <a href="/user/{{@index}}">Go to user details</a>
        {{/each}}  
    </div>
</body>
<html>