


<div>{{user.name}}</div>
<div>{{user.age}}</div>
<div>{{user.email}}</div>
<button onclick="myGreatFunction({{user.id}})">DELET USER</button>


<script>


function myGreatFunction(value) {
    fetch('http://localhost:3005/usersDel', {
        method: "POST",
          headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({id: value})
    }).then(res => location="/users");
    console.log(value);
}
    
</script>

